<div class="container">
  <div class="centered">
    <%= link_to "/auth/github" do %>
      <%= image_tag "https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png", alt: "login", style: "margin-top: 10px", id: "github-login", height: "150px" %>
    <% end %>
  </div>
</div>
