<div class="container">
  <div class="centered">
    <%= link_to "/auth/github" do %>
      <%= image_tag "Octocat.png", alt: "login", style: "margin-top: 10px", id: "github-login", height: "150px" %>
    <% end %>
  </div>
  <p id="welcome" style="display:none">Welcome to Pairr! <br> Your app for finding that perfect pair. <br> You'll never have to code alone at 2AM on a Friday night again!</p>
</div>
