<div class="container">
  <div class="centered">
    <% if @pairs.empty? %>
      <h3>Sorry, no pairs for you!</h3>
    <% else %>
      <% @pairs.each do |pairs| %>
        <h4><%= pairs.name %></h4>
        <image src="<%= pairs.picture_url %>" class="pics"></image>
        <p><%= pairs.description %></p>
        <h5>Languages</h5>
        <% pairs.languages.each do |language| %>
          <p><%= language.name %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
